doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=yes')
    link(rel='stylesheet' href='css/styles.css')
    title Horizontal Scroll Images
    script(src="js/jquery-3.7.1.min.js")
    script(src="js/hammer.min.js")
    script(src="js/spotlight.bundle.js")
    //- script(src='https://code.jquery.com/jquery-3.7.1.min.js' integrity='sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=' crossorigin='anonymous')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js' integrity='sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g==' crossorigin='anonymous' referrerpolicy='no-referrer')
    script(src='js/img-observe.js')
div
    #img-con.scrolling-container.spotlight-group 
        // Add more images
//- #myModal.modal
//-     .modal-content
//-         span.close &times;
//-         img#modal-image.modal-image(src='' alt='放大图片')
script.
    const hor = #{tHor};
    if(!hor)
    {
        $("#img-con").attr("class", "vertical-scroll-container");
    }

    function getImgCount() {
        return #{tImgCount};
    }
    function fetchItems() {
    const p = `#{tPattern}`;
    const startNumber = #{tStartNumber};
    const padZeros = #{tPadZeros};
    const imgCount = #{tImgCount};
    const useProxy = #{tUseProxy};
    for (let i = 0; i < imgCount; i++) {
    const urlImgId = (i + startNumber).toString().padStart(padZeros, '0');
    let imgSrc = p.replace('{img-id}', urlImgId);
    if (useProxy) {
    imgSrc = `/proxy/image?url=${imgSrc}`;
    }
    const newImage = $('<img>', {
    src: imgSrc,
    //- src: "",
    alt: `image ${i}`,
    loading: "lazy",
    id: `sl-img-${i}`,
    data_src: imgSrc,
    class: "sl-img",
    imgId: i,
    crossorigin: "anonymous"
    });
    newImage.on('dblclick', (e) => {
    document.dispatchEvent(new CustomEvent('dbClickSLImage', {
    detail: {
    e: e
    }
    }))
    });
    let imgDiv = $('<a>', {
    class: 'page-container spotlight',
    href: `${imgSrc}`,
    "data-download": true
    });
    imgDiv.append($('<p>', {
    class: 'page-text',
    text: `(${i})/${imgCount}`
    }));
    imgDiv.append(newImage);
    $('#img-con').append(imgDiv);
    }
    $('#img-input-container').css('display', 'none');
    watchImageItems();
    }
    fetchItems();
script(src='js/img-model.js')
